<!--templates/index.html-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tweet Generator</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="#"></a>
        <div class="navbar-nav">
        </div>
    </nav>
    <br>
    <h1><font position="center" size="20" color="white"><center>Tweet Generator</center></font></h1>
    <p><font size="5" color="white"><center>Add the next tweet is..</center></font></p>
    <p><font size="5" color="white"><center>*drum roll*</center></font></p>
    <br>
    <style>
    body {
        background-image: url('static/img/theater.jpeg');
        background-repeat: no-repeat;
        background-size: 100% 490%;
    }
    </style>
    <!-- TWEET -->
        <font size="5px"color="white"><center>{% for word in random_word %}
            {{ word }}
        {% endfor %}</center></font>
    <br>
    <div >
        <center><input type="button" class="button" onClick="history.go(0)" value="Reload"></center>
    </div>
</body>
</html>
